<!-- <div> -->
<!-- <img src="" alt="" class="en-serie">
</div> -->

<div class="grid grid-cols-2 gap-8 mb-8">
    <div>
        <img src="../../assets/enSerie.svg" alt="En Serie" class="w-full h-auto shadow-sm" width="600" height="400"
            style="aspect-ratio: 600 / 400; object-fit: cover;" />
        <div class="flex justify-between items-center mt-4">
            <div class="flex space-x-4 items-center">
                <p class="text-muted-foreground !m-0">R1</p>
                <input
                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 shadow-sm"
                    placeholder="Numbers" />
                    <p class="text-muted-foreground !m-0 text-lg !ml-2">Ω</p>

            </div>
            <button
                class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-destructive text-destructive-foreground hover:bg-destructive/90 h-10 px-4 py-2 shadow-sm">
                Simulate
            </button>
        </div>
    </div>
    <div class="shadow-sm rounded-lg">
        <video src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" autoplay muted></video>
    </div>
</div>