<div class="max-w-5xl mx-auto my-10 p-6 bg-white shadow-lg rounded-lg">
    <div class="flex justify-between items-center mb-8">
        <div class="flex items-center">
            <div class="mr-4">
                <mat-spinner mode="determinate"	value="10"></mat-spinner>
            </div>
            <div>
                <button
                    class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 text-red-500 border-red-500">
                    Logout
                </button>
            </div>
        </div>
        <div class="text-2xl font-semibold">Bienvenido, Javi</div>
    </div>
    <div class="mb-8">
        <div dir="ltr" data-orientation="horizontal">
            <app-toggle-button  [(buttonSelected)]="tipoCircuito"></app-toggle-button>
            <!-- [buttonSelected]="tipoCircuito" (buttonSelectedChange)="setTipoCircuito($event)" TODO: Two-way binding -->  
            @if (tipoCircuito==="EnSerie") {
            <app-en-serie></app-en-serie>
            } @else if (tipoCircuito==="EnParalelo") {
            <app-en-paralelo></app-en-paralelo>
            } @else if (tipoCircuito==="SerieYParalelo") {
            <app-serie-yparalelo></app-serie-yparalelo>
            } @else {
            <h1>ningun tipo seleccionado</h1>
            }
        </div>
    </div>
</div>