<div>
    <div class="inline-flex items-center mt-6 gap-2">
        <p>Seleccione el número de ramas en paralelo:</p>
        <select id="ramasEnParalelo" [(ngModel)]="numRamasEnParalelo"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 my-2">
            <option selected value="2ramas">2 ramas</option>
            <option value="3ramas">3 ramas</option>
        </select>
    </div>
    @if (numRamasEnParalelo === "2ramas") {
    <div class="grid grid-cols-2 gap-8 mb-8">
        <div>
            <img src="../../assets/enParalelo2.svg" alt="En Serie" class="w-full h-auto shadow-sm" width="600" height="400"
                style="object-fit: cover;" />
            <div class="flex justify-between items-center mt-4">
                <div class="gap-3 flex flex-col">
                    <div class="flex justify-between items-center mt-4">
                        <label class="inline-flex items-center cursor-pointer">
                            <input type="checkbox" value="" class="sr-only peer">
                            <span class="mr-3 text-sm font-medium text-gray-900 dark:text-gray-300">5V</span>
                            <div
                                class="relative w-11 h-6 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600  bg-blue-600">
                            </div>
                            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">12V</span>
                        </label>
                    </div>
                    <div class="gap-3">
                        @if(!isCorrect && ((valorR1!== undefined && valorR1 !== null && valorR1 !== 0) || (valorR2 !== undefined && valorR2 !== null && valorR2 !== 0))){
                        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 m-3 rounded relative" role="alert">
                            <strong class="font-bold">¡Error!</strong>
                            <span class="block sm:inline"> Las resistencias solo pueden ser de 100Ω o 300Ω</span>
                        </div>
                        }
                        <div class="flex items-center gap-1 mb-3">
                            <p class="text-muted-foreground !m-0">R1:</p>
                            <input type="number" [(ngModel)]="valorR1" (ngModelChange)="checkValues()"
                                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 shadow-sm"
                                placeholder="Numbers" />
                            <p class="text-muted-foreground !m-0 text-lg !ml-2">Ω</p>
                        </div>
                        <div class="flex items-center gap-1 mb-3">
                            <p class="text-muted-foreground !m-0">R2:</p>
                            <input type="number" [(ngModel)]="valorR2" (ngModelChange)="checkValues()"
                                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 shadow-sm"
                                placeholder="Numbers"/>
                            <p class="text-muted-foreground !m-0 text-lg !ml-2">Ω</p>
                        </div>
                    </div>
                </div>
                <button
                    [ngClass]=" isCorrect ? 'inline-flex items-center justify-center whitespace-nowrap rounded-md text-base font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-destructive text-destructive-foreground hover:bg-destructive/90 h-15 px-8 py-4 shadow-sm bg-slate-100' : 'inline-flex items-center justify-center whitespace-nowrap rounded-md text-base font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-destructive text-destructive-foreground hover:bg-destructive/90 h-15 px-8 py-4 shadow-sm bg-slate-100 opacity-50 cursor-not-allowed'"
                    class="">
                    Simular
                </button>
            </div>
        </div>
        <div class="shadow-sm rounded-lg">
            <video src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" autoplay
                muted></video>
        </div>
    </div>
    }
    @else if (numRamasEnParalelo === "3ramas") {
    <div class="grid grid-cols-2 gap-8 mb-8">
        <div>
            <img src="../../assets/enParalelo3.svg" alt="En Serie" class="w-full h-auto shadow-sm" width="600" height="400"
                style="object-fit: cover;" />
            <div class="flex justify-between items-center mt-4">
                <div class="gap-3 flex flex-col">
                    <div class="flex justify-between items-center mt-4">
                        <label class="inline-flex items-center cursor-pointer">
                            <input type="checkbox" value="" class="sr-only peer">
                            <span class="mr-3 text-sm font-medium text-gray-900 dark:text-gray-300">5V</span>
                            <div
                                class="relative w-11 h-6 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600  bg-blue-600">
                            </div>
                            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">12V</span>
                        </label>
                    </div>
                    <div class="gap-3">
                        @if(!isCorrect && ((valorR1!== undefined && valorR1 !== null) || (valorR2 !== undefined && valorR2 !== null) || (valorR3 !== undefined && valorR3 !== null))){
                        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 m-3 rounded relative"
                            role="alert">
                            <strong class="font-bold">¡Error!</strong>
                            <span class="block sm:inline"> Las resistencias solo pueden ser de 100Ω o 300Ω</span>
                        </div>
                        }
                        <div class="flex items-center gap-1 mb-3">
                            <p class="text-muted-foreground !m-0">R1:</p>
                            <input type="number" [(ngModel)]="valorR1" (ngModelChange)="checkValues()"
                                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 shadow-sm"
                                placeholder="Numbers" />
                            <p class="text-muted-foreground !m-0 text-lg !ml-2">Ω</p>
                        </div>
                        <div class="flex items-center gap-1 mb-3">
                            <p class="text-muted-foreground !m-0">R2:</p>
                            <input type="number" [(ngModel)]="valorR2" (ngModelChange)="checkValues()"
                                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 shadow-sm"
                                placeholder="Numbers" />
                            <p class="text-muted-foreground !m-0 text-lg !ml-2">Ω</p>
                        </div>
                        <div class="flex items-center gap-1 mb-3">
                            <p class="text-muted-foreground !m-0">R3:</p>
                            <input type="number" [(ngModel)]="valorR3" (ngModelChange)="checkValues()"
                                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 shadow-sm"
                                placeholder="Numbers" />
                            <p class="text-muted-foreground !m-0 text-lg !ml-2">Ω</p>
                        </div>

                    </div>
                </div>
                <button
                    [ngClass]=" isCorrect ? 'inline-flex items-center justify-center whitespace-nowrap rounded-md text-base font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-destructive text-destructive-foreground hover:bg-destructive/90 h-15 px-8 py-4 shadow-sm bg-slate-100' : 'inline-flex items-center justify-center whitespace-nowrap rounded-md text-base font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-destructive text-destructive-foreground hover:bg-destructive/90 h-15 px-8 py-4 shadow-sm bg-slate-100 opacity-50 cursor-not-allowed'"
                    class="">
                    Simular
                </button>
            </div>
        </div>
        <div class="shadow-sm rounded-lg">
            <video src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" autoplay
                muted></video>
        </div>
    </div>    }
</div>
